__pycache__/
*.pyc
data.db
data/img/
.env
_gh_pat.txt
_build_main.py
_g0.py
_gh.py
_gh_api.py
_gh_setup.py
_gh_test_patscopes.py
_ghconf.py
_gv2.py
main_minimal.py
main_test.py
main_v2.py
x_main_clean.py
x_main_header.py
_wr_geof.py
_wr_test.py
_wr_geofence_tests.py
_gen_scrp.py
_gen_geofence_tests.py
_gen_geopf.py
_ghconf.py
